
body header h1{
    background-color: #EB5757 !important;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center !important;
    font-size: 2em !important;
    padding: .5em !important;

}

body {
    background-color: #303030 !important;
    font-family: 'Roboto', sans-serif !important;
}

